/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a[href^="tel"]{
  color:inherit;
  text-decoration:none;
}
* {
  -webkit-tap-highlight-color: transparent;
}


/*Basic Style ------------------------------------------------------------------- */
html{
  font-size: 16px;
  color:white;
  font-family: 'Raleway', sans-serif;
  background: hsl(218, 28%, 13%);
}
body{
  display: flex;
  flex-flow: column nowrap;
}
body > *{
  flex: 1 100%;
}


/* Nav Section ------------------------------------------------------------------- */
header{
  padding: 35px 50px 90px 50px;
  background-color: hsl(217, 28%, 15%);
}
#link1,#link2,#link3{
  text-decoration: none;
  color: white;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 400;
}
.nav--SP{
  width: auto;
  gap:1rem;
  justify-content: space-evenly;
}
.nav__img{
  max-width: 100%;
  width: 120px;
  height: auto;
}
.nav__li{
  cursor: pointer;
}


/* Hero Section -------------------------------------------------------------------  */
.hero{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  background: url("../images/bg-curvy-desktop.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: hsl(217, 28%, 15%);
}
.hero__img{
  max-width: 40%;
  height: auto;
}
.hero__h1{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 35px;
  max-width: 300px;
}
.hero__p{
  font-size: .8rem;
  line-height: 25px;
  max-width: 350px;
}
#btnLink{
  text-decoration: none;
  color: white;
}
.hero__btn{
  width: 200px;
  height: 40px;
  font-size: .9rem;
  font-weight: 700;
  color:white;
  border:none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  background-color:hsl(198, 60%, 50%);
}


/* Main-Content Section ------------------------------------------------------------------- */
.main-content{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 150px;
}

.wrapper-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
  line-height: 20px;
  width: 75%;
  height: max-content;
}


/* Section-1 ------------------------------------------------------------------- */
.content1{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 175px;
  padding-bottom: 35px;
}
.content1__img{
  max-width: 100%;
  width: 70px;
  height: 70px;
  object-fit: contain;
  padding-bottom: 10px;
}
.content1__h3{
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 10px;
}
.content1__p{
  font-size: .8rem;
  max-width: 350px;
}
.content1__p br{
  content: '';
  white-space: pre;
}


/* Section Link */
#Teams{
  display: block;
  height: 115px;
  margin-top: -115px;
  visibility: hidden;
}


/* section-2 ------------------------------------------------------------------- */
.content2{
  justify-self: center;
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.content2__img{
  max-width: 100%;
  width: 40vw;
  height:auto;
}
.content2-wrapper__h3{
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 10px;
}
.content2-wrapper__p{
  font-size: .9rem;
  line-height: 20px;
  padding-bottom: 10px;
}
.content2-wrapper__a{
  text-decoration:none;
  color:hsl(198, 60%, 50%);
  text-decoration: underline;
  line-height: 25px;
}
.content2-wrapper__svg{
  max-width: 100%;
  width: 14px;
  height: auto;
}


/* Section-3 Testimonials ------------------------------------------------------------------- */
.wrapper-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  gap: 1.5rem 2rem;
}
.wrapper-2__img{
  position: relative;
  left:-1rem;
  bottom: 12rem;
  max-width: 100%;
  z-index: 1;
}
.content3{
  width: 300px;
  height: 130px;
  padding: 20px;
  border-radius: 5px;
  background:hsl(219, 30%, 18%);
  z-index: 2;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.content3__p{
  font-size: .8rem;
  line-height: 20px;
}
.content3__img{
  float: left;
  max-width: 100%;
  width: 25px;
  height: auto;
  border-radius: 100px;
}
.content3-wrapper{
  padding-left: 30px;
}
.content3-wrapper__h4{
  font-size: .7rem;
  font-weight: 700;
  padding-bottom: 5px;
}
.content3-wrapper__p{
  font-size: .6rem;
}


/* Email------------------------------------------------------------------- */
.wrapper-3{
  transform: translateY(200px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
}
.email{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  height: max-content;
  font-family: 'Raleway',sans-serif;
  text-align: center;
  padding: 30px 50px;
  border-radius: 5px;
  background-color: hsl(217, 28%, 15%);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.email__h2{
  font-size: 1.7rem;
  font-weight: 700;
}
.email__p{
  font-size: .7rem;
  line-height: 20px;
  max-width: 350px;
}
.email-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.email-wrapper__input,.email-wrapper__btn{
  width: 100%;
  min-width: 140px;
  max-width: 200px;
  height: 35px;
  font-size: .7rem;
  border:none;
  outline: none;
  padding: 0 0 0 10px;
  margin: 0 10px;
  border-radius: 20px;
}
.email-wrapper__btn{
  width: 150px;
  color: white;
  padding: 0;
  background-color: hsl(198, 60%, 50%);
  cursor: pointer;
}


/* Footer -----------------------------------------------------------*/
footer{
  font-family: 'Raleway',sans-serif;
  margin-top: 100px;
  padding: 150px 50px 100px 50px;
  background-color: hsl(216, 53%, 9%);
}
.footer-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem 3rem;
}
.footer__img{
  max-width: 100%;
  height:auto;
  padding-bottom: 25px;
}
.footer-item1{
  display: flex;
  flex-wrap: wrap;
}
.footer-item1__img{
  max-width: 100%;
  height: 25px;
  padding-right: 10px;
}
.footer-item1__p{
  font-size: .85rem;
  line-height: 20px;
}
.footer-item2__img{
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}
.footer-item3__p, .footer-item3__h3, 
.footer-item4__p, .footer-item4__h3,
.footer-item2__p{
  cursor: pointer;
}
.footer-item5__svg{
  cursor: pointer;
  padding-right: 10px;
}




/* Extra small devices (phones, 600px and down) -------------------------------------------------------------------  */
@media only screen and (max-width: 425px) {
header{
  padding: 35px 25px 90px 25px;
}
.nav{
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}
.nav--SP{
  font-size: .8rem !important;
}

.hero__h1{
  font-size: 1.3rem;
}
.hero__p{
  font-size: .8rem !important;
}

.main-content{
  gap: 5rem;
}
.wrapper-1{
  gap: 3rem;
  line-height: 20px;
}

.content1{
  width: 60vw;
}
.content1__img{
  width: 15vw;
  padding-bottom: 10px;
}
.content1__h3{
  font-size: 1rem;
}

.content2{
  gap: 3rem;
  padding: 0 25px;
}
.content2__img{
  width: 85vw;
}
.content2-wrapper__h3{
  font-size: 1rem;
}
.content2-wrapper__p{
  font-size: .7rem;
}

.wrapper-2{
  gap: 2rem;
}
.wrapper-2__img{
  width: 10vw;
}
.content3--special{
  margin-bottom: -30px;
}
.content3{
  width: 75vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 20px 25px 20px 25px;
}
.content3__p{
  font-size: .7rem;
}

.wrapper-3{
  transform: translateY(150px);
}
.email{
  width: 80vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 35px 10px 20px 10px;
}
.email__h2{
  font-size: 1.2rem;
}
.email__p{
  font-size: .7rem;
}
.email__p br{
  content: '';
}
.email__p br::after{
  content: '';
}
.email-wrapper__input,.email-wrapper__btn{
  width: 65vw;
  height: 35px;
  font-size: .7rem;
  padding-left: 20px;
  margin: 0;
  margin-top: 10px;
}
.email-wrapper__btn{
  width: 70vw;
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
}

footer{
  font-size: .8rem;
  margin-top: 50px;
  padding: 150px 20px 50px 20px;
}
.footer-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}
.footer-wrapper>*{
  flex: 1 100%;
  margin-bottom: 20px;
}
.footer-item1{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: baseline;
}
.footer-item1__img{
  max-width: 15px;
  height: auto;
}
.footer-item1__p{
  font-size: .7rem;
  flex:5;
}
.footer-item2__img{
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}
.footer-item2__p{
  font-size: .8rem;
}
.footer-item5{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
}

/* tablet */
@media only screen and (min-width: 725px) and (max-width: 925px){
  .footer-item5{
    align-self: center;
    justify-self: center;
  }
}

/* No hover effects on touch */
@media (hover: hover) and (pointer: fine){
  .nav__li:hover{
    font-weight: 700;
    text-decoration: underline;
  }
  .hero__btn:hover{
    background: hsl(176, 68%, 64%);
  }
  .content2-wrapper__a:hover{
    color:white;
    -webkit-filter: saturate(0) brightness(100%);
            filter: saturate(0) brightness(100%);
  }
  .email-wrapper__btn:hover{
    background: hsl(176, 68%, 64%);
  }
  .footer-item3__p:hover, .footer-item3__h3:hover, 
  .footer-item4__p:hover, .footer-item4__h3:hover, 
  .footer-item2__p:hover{
    font-weight: 700;
  }
  .footer-item5__svg:hover{
    fill: hsl(176, 68%, 64%);
  }
}
